.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container h2 {
  margin: 10% 0 0 0;
  font-size: 5rem;
}

.container h4 {
  margin: 5% 0 0 0;
  font-size: 2.5rem;
}

.options {
  display: flex;
  gap: 20px;
  margin-top: 5%;
  text-align: center;
}

.options button {
  font-family: "VT323", monospace;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
  width: 100px;
  line-height: 100%;
  border: none;
  background-color: transparent;
}

.options button:hover {
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.418);
  color: rosybrown;
}
