.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.cell {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.fill {
  background-color: black;
}

.food {
  transform: rotate(45deg);
  background-color: red;
}

.death {
  background-color: #00000052;
}
