.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.308);
}

.container h2 {
  margin: 0;
  font-size: 8rem;
}

.container button {
  font-size: 2rem;
  margin-top: 50px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
}

.container button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.479);
  color: rosybrown;
}
