.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  width: 600px;
  height: 400px;
  padding: 5px;
  background-color: rosybrown;
  border: 2px solid black;
  box-shadow: inset 0px 0px 20px 0px #00000041;
}

.container button {
  margin-left: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  font-weight: bold;
}

.container button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.container h2 {
  margin: 0;
  font-size: 5rem;
  filter: drop-shadow(0 0 0.2rem white);
}

.container li {
  font-size: 1.8rem;
}

.imgs {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
}
.imgs img {
  width: 50px;
  filter: drop-shadow(0 0 0.2rem white);
}
